# ==============================
# Data outputs (do NOT commit)
# ==============================
raw_data/
silver/
gold/
analytics/
logs/

# ==============================
# Sample data allowed
# ==============================
!data_samples/

# ==============================
# Python
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# Secrets
# ==============================
.env
*.pem
*.key

# ==============================
# System files
# ==============================
.DS_Store

# ==============================
# IDE
# ==============================
.idea/
.vscode/